<!DOCTYPE html>
<html lang="" xmlns:th="http://www.thymeleaf.org">

<head>
  <title>Podcastify</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body style="font-family: 'Rubik', system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol !important; background-color: #ecf0f1; text-align: center;">
  <div style="width: 99%; max-width: 800px; margin: 0 auto; text-align: center; display: inline-block; color: #313131;">
    <div style="padding-bottom: 30px; padding-top: 30px; text-align: center; font-weight: bold; font-size: 20px; line-height: 25px;">Podcastify</div>
    <div style="padding-bottom: 30px">
      <div style="background-color: white; display: inline-block; text-align: left; padding: 32px 24px; border-radius: 10px;">
        <span style="padding-bottom: 20px; font-weight: bold; font-size: 15px; line-height: 25px; display: block;">Dear Admin,</span>

        <div style="padding-bottom: 20px; font-size: 15px; line-height: 25px; display: block;">We are excited to inform you that a new subscription request has been received.</div>

        <div style="padding-bottom: 10px; font-size: 15px; line-height: 25px; display: block;"><b>From: </b><span th:text="${From}"></span></div>
        <div style="padding-bottom: 40px; font-size: 15px; line-height: 25px; display: block;"><b>To: </b><span th:text="${To}"></span></div>

        <div style="text-align: center; padding-bottom: 40px;">
          <a href="http://localhost:5173/" style="display: inline-block; font-size: 15px; line-height: 15px; background-color: #2980b9; color: white; padding: 12px 20px; border-radius: 5px; text-decoration: none;">Check the details</a>
        </div>

        <div style="padding-bottom: 20px; font-size: 15px; line-height: 25px; display: block;">Regards,<br>Podcastify</div>

        <div style="font-style: italic; font-size: 12px; line-height: 22px; display: block;">This message is an automated message and cannot receive a reply.</div>
      </div>
    </div>
    <div style="padding-bottom: 30px;">
      <span style="text-align: center; font-size: 12px; line-height: 25px;">©Podcastify. All rights reserved.</span>
    </div>
  </div>
</body>

</html>